body {
    background-color: white;
}
.container {
    display: block;
    width: 800px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

header {
    text-align: center;
    background-color: rgb(86, 7, 86);
    min-height: 48px;
    padding: 1px;
}

footer {
    margin-bottom: 0%;
    text-align: right;
    background-color: black;
    color: white;
    min-height: 48px;
    font-size: 10px;
}

.header {
    color:white;
    display: inline;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
    margin-right: auto;
}

.divh {
    display: inline-block;
    background-color:rgb(35, 85, 160);
    max-width: 30%;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

.body {
    font-size: 12px;
    color: rgb(100, 96, 96);
}


.list ul {
    display: inline;
}
.menu {
    color: white;
    font-size: large;
    list-style-type: none;
}

.menu:link {
    text-decoration: none;
}

.menu:visited {
    text-decoration: none;
}

.input {
    width: 400px;
}

h1 {
    font-size: 40px;
}

.error {
    color: red;
    display: inline;
}

.register {
    color: white;
    display: inline;
    position: relative;
    float: right;
    width: 10%;
}