body {
    background-color: white;
}
.container {
    display: block;
    width: 800px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

header {
    text-align: center;
    background-color: rgb(86, 7, 86);
    min-height: 48px;
    padding: 1px;
}

footer {
    margin-bottom: 0%;
    text-align: right;
    background-color: black;
    color: white;
    min-height: 48px;
    font-size: 10px;
}

.header {
    color:white;
    display: inline;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15%;
    margin-right: auto;
}

.divh {
    display: inline-block;
    background-color:rgb(35, 85, 160);
    max-width: 30%;
    border: 1px solid white;
    padding: 5px;
    color: white;
}

.body {
    font-size: 12px;
    color: rgb(100, 96, 96);
}

.grid {
    display: grid;
    width: 99.6%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    margin-top: 5px;
    column-gap: 2%;
    row-gap: 20px;
    justify-content: center;
}

.innergrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
}

.detailgrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    justify-content: center;
}


.detailimg {
    display: inline-grid;
    grid-row: 1 / span 3;
    grid-column: 2/ span 1;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.detailimg img {
    display: inline;
    max-height: 100%;
    max-width: 100%;
    
}

.detailtitle {
    display: inline-grid;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    color: rgb(100, 96, 96);
    min-height: 120px;
    /* justify-items: center; */
    align-items: center;
}

.detailprice {
    display: inline-grid;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    min-height: 120px;
    /* justify-items: center; */
    align-items: center;
    color: black;
    font-size: large;
}

.detaildesc {
    display: inline-grid;
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    border: 1px solid black;
    font-size: 12px;
    color: rgb(100, 96, 96);
    margin: 2px;
    padding: 2px;
}

#details {
    display: inline;
    /* border-radius: 2px; */
    background-color:rgb(35, 85, 160);

}



.shop img {
    max-width: 100%;
    max-height: 70%;
    display: inline;
    
    /* padding: 5px; */
    
    /* margin-top: -8%; */
    /* margin-left: 70%; */
    
    /* border: 1px solid black; */
    
}
.shop a {
    color: rgb(100, 96, 96);
    text-decoration: none;
}
.shop a::after {
    color: rgb(100, 96, 96);
    text-decoration: none;
}

.shop p {
    display: inline;
}

.shop {
    display: flex;
    border: 1px solid black;
    height: 200px;
    width: 100%;
    text-decoration: none;

    /* margin-bottom: 2px; */
}

.shop {
    font-size: 12px;
    color: rgb(100, 96, 96);
    text-decoration: none;
}

.itemtitle {
    /* background-color: pink; */
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
}

.itemimage {
    /* background-color: purple; */
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
}


.price {
    color: blue;
    font-size: larger;
}


.list ul {
    display: inline;
}
.menu {
    color: white;
    font-size: large;
    list-style-type: none;
}

.menu:link {
    text-decoration: none;
}

.menu:visited {
    text-decoration: none;
}

.input {
    width: 400px;
}

h1 {
    font-size: 40px;
}

.error {
    color: red;
    display: inline;
}

.register {
    color: white;
    display: inline;
    position: relative;
    float: right;
    width: 10%;
}